<%- include('includes/head') %>

    <div id="frame">

        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="<%= user.userImage %>" class="online" alt="" />
                    <p>
                        <%= user.fullName %>
                    </p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span>
                                <p>Online</p>
                            </li>
                            <li id="status-away"><span class="status-circle"></span>
                                <p>Away</p>
                            </li>
                            <li id="status-busy"><span class="status-circle"></span>
                                <p>Busy</p>
                            </li>
                            <li id="status-offline"><span class="status-circle"></span>
                                <p>Offline</p>
                            </li>
                        </ul>
                    </div>
                    <div id="expanded">
                        <a href="/logout" class="logout" style="color:white">Logout</a>

                    </div>
                </div>
            </div>
            <button onclick="joinRoom('world')">World</button>
            <button onclick="joinRoom('india')">India</button>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." id="search-filter" />
            </div>

            <ul class="nav nav-tabs">
                <li class="active" style="width: 50%;text-align: center;">
                    <a data-toggle="tab" style="border-radius: 0;" href="#home">Contacts</a>
                </li>
                <li style="width: 50%;text-align: center;">
                    <a data-toggle="tab" style="border-radius: 0;" href="#menu1">Peoples</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div id="contacts">
                        <ul id="friends-search">


                        </ul>
                        <ul id="friend-request">


                        </ul>
                        <ul id="friends-list">


                        </ul>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
            </div>
        </div>
        <div class="content">
            <div id="welcome-screen" class="messages" style="text-align: center;min-height: 100%;max-height: 100%;">
                <img src="images/welcome-logo.png" style="margin-top: 17%;">
            </div>
            <div id="chat-screen-loading" class="messages" style="text-align: center;min-height: 100%;max-height: 100%;">
                <i class="fa fa-spinner fa-spin" aria-hidden="true" style="margin-top: 10%;"></i>
            </div>
            <div id="chat-screen" class="messages">
                <div class="contact-profile">
                    <img src="" id="friend-image" alt="" />
                    <p id="friend-name"></p>
                    <div class="social-media">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="messages">
                    <ul id="message-list">

                    </ul>
                </div>
                <div class="message-input">
                    <form id="chat-form">
                        <div class="wrap">
                            <input type="hidden" value="0" id="current-friend-id" />
                            <input type="text" placeholder="Write your message..." id="message" />
                            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                            <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    Send Request?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-xs btn-primary">Send Request</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/layout_js.js"></script>
    <script src="/js/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    </body>

    </html>