<%- include('includes/head') %>
    <% if(locals.errors){ %>
        <% Object.keys(errors).forEach(function(key){ %>
            <%= errors[key].msg %><br>
                <% }); %>
                    <% } %>

                        <div id="register-wrapper">

                            <div class="container">
                                <div class="row centered-form">
                                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 text-center">
                                        <img src="images/chat_app_logo.png" width="150">
                                    </div>
                                </div>
                                <div class="row centered-form">
                                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                                        <a class="hvr-float" href="/auth/facebook">
                                                    <img class="img-responsive" src="images/fb_login.png" />
                                                </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                            crossorigin="anonymous"></script>
                        <script src="/js/layout_js.js"></script>
                        </body>

                        </html>