<%- include('includes/head') %>
    <% if(locals.errors){ %>
        <% Object.keys(errors).forEach(function(key){ %>
            <%= errors[key].msg %><br>
                <% }); %>
                    <% } %>

                        <div id="register-wrapper">

                            <div class="container">
                                <div class="row centered-form">
                                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 text-center">
                                        <img src="images/chat_app_logo.png" width="150">
                                    </div>
                                </div>

                                <div class="row centered-form">
                                    <h1>Register</h1>
                                    <form action="/register" method="POST">
                                        <label for="">Display Name</label>
                                        <input type="text" value="" name="fullName" class="form-control">
                                        <br>
                                        <label for="">Email</label>
                                        <input type="email" value="" name="email" class="form-control">
                                        <br>
                                        <label for="">Password</label>
                                        <input type="password" value="" name="password" class="form-control">
                                        <br>
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                            crossorigin="anonymous"></script>
                        <script src="/js/layout_js.js"></script>
                        </body>

                        </html>